<!DOCTYPE html>
<html lang="en" data-theme="coffee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHARMING CHAUVIN - Here to judge your entire existence</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center h-auto">
        <h1 class="text-3xl font-bold mb-10 lg:mr-20 mt-5">CHAUVIN</h1>
        <img src="../static/assets/blink-stare.gif" alt="">
        <div class="mt-10 mb-10">
            <button class="btn btn-error">Start</button>
            <button class="btn btn-error">SHOW CHAT💚</button>
            <button class="btn btn-warning">End</button>
        </div>
    </div>
    <script src="../static/scripts.js"></script>
</body>
</html>